*
  margin:0
  padding:0
  box-sizing: border-box

.header
  display: flex
  justify-content: space-between

.logo_pokemon
  padding: 15px

.pika_img
  display: flex
  align-items: column
  justify-content: center

.titulo_header
  font-size:25px
  text-align: center


.button_header1
  text-decoration:none
  background: yellow
  border-style:solid
  padding:15px
  outline:none
  border-radius: 5px
  cursor:pointer
  display: flex
  align-items: column
  justify-content: center

.button_header
  display: flex
  align-items: column
  justify-content: center
  padding:30px

.logo_tatiana
  display: flex
  align-items: column
  justify-content: center
  margin-bottom: .5rem

.texto_logo
  display: flex
  align-items: column
  justify-content: center
  margin-bottom: 3rem



.button-menu
  z-index: 200
  width: 80px
  height: 60px
  border: none
  background:#f01212
  cursor: pointer

.button-menu span
  width: 37px
  height: 4px
  margin-bottom: 5px
  position: relative
  background: #444444
  border-radius: 3px
  transform-origin: 4px 0px
  transition: all 0.2s linear



.button-menu.close span
  opacity: 1
  transform: rotate(45deg) translate(0px, 0px)
  background: #ffffff


.button-menu.close span:nth-child(2)
  transform: rotate(-45deg) translate(-8px, 5px)


.button-menu.close span:nth-child(3)
  display: none

.nav.show
  display: none
  list-style: none
  style-list: none
  color:#0b0a0a


.ul
  list-style: none
  style-list: none
  color:#0b0a0a

@media screen and (max-width:428px)
  .header
    display: flex
    flex-direction: column
    align-items: center



