/*pokemon Grid */
.pokemon-grid
  padding: 150px
  gap: 30px
  display: flex
  flex-wrap: wrap

.pokemon-grid .box
  box-shadow: -30px 30px 20px
  text-align: center
  color:#ffff
  background-color: #060B28
  padding: 20px
  width: 150px
  height: 250px
  margin:15px
  font-size: 16px

.pokemon-grid.box img
  max-height: 100%
  display:block
  margin: 0 auto
  object-fit: cover
  max-width:200px
  max-height: 200px


