<!--EQUIPO-->
<section class="equipo">
<div class="logo_pokemon">
  <img src="../../assets/img/poky.png"alt="logo_pokemon" width="131" height="48">
</div>
<div class="logo_in">
  <img src="../../assets/img/in.png"alt="logo_pokemon" width="40" height="40">
</div>
<div class="logo_git">
  <img src="../../assets/img/git.png"alt="logo_pokemon" width="40" height="40">
</div>
<div class="logo_pokemon">
  <img src="../../assets/img/tele.png"alt="logo_pokemon" width="40" height="40">
</div>
</section>
<div class="texto_logo">
  <p>#006</p>
</div>
<div class="button_equipo1">
  <button class="btn"><i class="fa-sharp fa-solid fa-fire-flame-curved"></i> Fire</button>
  <button class="btn1"><i class="fa-solid fa-dove"></i>Flying</button>
</div>
<div class="mifavorito">
<h3>CHARIZARD</h3>
</div>
<div class="parrafo">
<p>Charizard es un Pokémon de tipo fuego/volador, introducido en la primera generación. Es la evolución de Charmeleon y, a partir de la sexta generación, puede megaevolucionar en Mega-Charizard X o en Mega-Charizard Y. En la Octava generación puede realizar Gigamax y transformarse en Charizard Gigamax.</p>
</div>
<div class="imagen_charizard">
<img src="../../assets/img/poke-shadow.png"alt="logo_pokemon" width="280" height="220">
</div>

<!--MI EQUIPO-->
<section class="mi_equipo_1">
  <div class="pokemon1">
<img src="../../assets/img/SLOW.png"alt="logo_pokemon" width="280" height="220">
<p>#199</p>
<h2>Slowking</h2>
<div class="button_equipo_1">
  <button>WATER</button>
  <button>PSYCHICH</button>
<p>175.3 lbs</p><i class="fa-solid fa-dumbbell"></i>
<p>6.07 </p><i class="fa-solid fa-text-height"></i>
</div>
</div>
<div class="pokemon2">
<img src="../../assets/img/magnezone.png"alt="logo_pokemon" width="280" height="220">
<p>#462</p>
<h2>Magnezone</h2>
<div class="button_equipo_2">
  <button>ELECTRIC</button>
  <button>STEEL</button>
<p>396.8</p><i class="fa-solid fa-dumbbell"></i>
<p>3.11 </p><i class="fa-solid fa-text-height"></i>
</div>
</div>
<div class="pokemon3">
<img src="../../assets/img/simisage.png"alt="logo_pokemon" width="280" height="220">
<p>#512</p>
<h2>Simisage</h2>
<div class="button_equipo_3">
  <button>GRASS</button>
<p>67.2 LB</p><i class="fa-solid fa-dumbbell"></i>
<p>3.07 </p><i class="fa-solid fa-text-height"></i>
</div>
</div>
<div class="pokemon4">
<img src="../../assets/img/dew.png"alt="logo_pokemon" width="280" height="220">
<p>#751</p>
<h2>Dewpider</h2>
<div class="button_equipo_4">
  <button>WATER</button>
  <button>BUG</button>
<p>8.8 LBS</p><i class="fa-solid fa-dumbbell"></i>
<p>1.00 </p><i class="fa-solid fa-text-height"></i>
</div>
</div>
<div class="pokemon5">
<img src="../../assets/img/beldum.png"alt="logo_pokemon" width="280" height="220">
<p>#751</p>
<h2>Beldum</h2>
<div class="button_equipo_4">
  <button>STEEL</button>
  <button>PSYCHIC</button>
<p>209.9 LBS</p><i class="fa-solid fa-dumbbell"></i>
<p>2.00 </p><i class="fa-solid fa-text-height"></i>
</div>
</div>
<div class="pokemon6">
<img src="../../assets/img/fennekin.png"alt="logo_pokemon" width="280" height="220">
<p>#374</p>
<h2>Fennekin</h2>
<div class="button_equipo_4">
  <button>WATER</button>
  <button>BUG</button>
<p>8.8 LBS</p><i class="fa-solid fa-dumbbell"></i>
<p>1.00 </p><i class="fa-solid fa-text-height"></i>
</div>
</div>
</section>

